body {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  background-image: url("./images/background2.jpg");
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, #nav-header {
  font-family: 'Amatic SC', cursive;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex-between {
  display: flex;
  align-items: center;
}

.product.ui.card {
  border-radius: 0;
  padding: 1%;
  background-color: rgb(255, 255, 255);;
}

/* .ui.card>.image {
  margin: 5%;
} */

#container {
  padding: 2%;
}

#navbar {
  background-color: rgba(87,194,199);
  color: rgba(240, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-header {
  font-size: 3rem;
  margin: 2%;
}
